# .envrc

# Google cloud project ID
export GCLOUD_PROJECT=XXX

# Google cloud region for cloud functions
export GCLOUD_FUNCTION_REGION=europe-west3
export FUNCTION_REGION=europe-west3

export ALLOWED_EMAIL_DOMAINS=mavericks.fi,witted.com
export HARVEST_ACCESS_TOKEN=
export HARVEST_ACCOUNT_ID=
export HARVEST_ACCESS_TOKENS=
export HARVEST_ACCOUNT_IDS=
export AGILEDAY_ACCESS_TOKEN=
export SLACK_BOT_TOKEN=
export SLACK_SIGNING_SECRET=
export SLACK_NOTIFY_CHANNEL_ID=
export HOURS_STATS_COLUMN_HEADERS=
export BILLING_STATS_COLUMN_HEADERS=
export SENDGRID_API_KEY=
export TASK_ID_VACATION=11369141
export TASK_ID_UNPAID_LEAVE=11369142
export TASK_ID_SICK_LEAVE=11369140
export TASK_ID_SICK_LEAVE_CHILDS_SICKNESS=18406328
export TASK_ID_PARENTAL_LEAVE=18450208
export TASK_ID_EXTRA_PAID_LEAVE=13538291
export TASK_ID_INTERNALLY_INVOICABLE=14655092
export AD_TASK_NAME_VACATION="annual holiday"
export AD_TASK_NAME_UNPAID_LEAVE="unpaid leave"
export AD_TASK_NAME_SICK_LEAVE="sick leave"
export AD_TASK_NAME_SICK_LEAVE_CHILDS_SICKNESS="child sick"
export AD_TASK_NAME_PARENTAL_LEAVE="parental leave"
export AD_TASK_NAME_EXTRA_PAID_LEAVE="extra paid leave"
export AD_TASK_NAME_INTERNALLY_INVOICABLE="internally invoicable"
export ADMINS=
export MISSING_WORKHOURS_REPORT_EMAIL=
