# .envrc

# Google cloud project ID
export GCLOUD_PROJECT=XXX

# Google cloud region for cloud functions
export GCLOUD_FUNCTION_REGION=europe-west3
export FUNCTION_REGION=europe-west3

# From KMS
export HARVEST_ACCESS_TOKEN=
export HARVEST_ACCESS_TOKENS=
export AGILEDAY_ACCESS_TOKEN=
export SLACK_BOT_TOKEN=
export SLACK_SIGNING_SECRET=
export SENDGRID_API_KEY=
